- create_view = @workshop.new_record?
- workshop_sessions = @workshop.workshop_sessions
= render partial: 'shared/error_messages', locals: { target: @workshop }
.row
  .col-xs-12
    = form_for @workshop,  html: {class: 'form-horizontal', role: 'form'} do |f|
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} #{t('common.caption.course')}
        .col-sm-9
          = f.collection_select :course_id, Course.all, :id, :name, { prompt: true }, { class: 'col-xs-10 col-sm-5' }
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} #{t('workshop.caption.instructor')}
        .col-sm-9
          = f.collection_select :instructor_id, Instructor.all, :id, :name, { prompt: true }, { class: 'col-xs-10 col-sm-5' }
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} #{t('workshop.caption.assistant_instructor')}
        .col-sm-9
          = f.collection_select :assistant_instructor_id, Instructor.all, :id, :name, { prompt: true }, { class: 'col-xs-10 col-sm-5' }
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} #{t('donation.caption.center')}
        .col-sm-9
          = f.collection_select :center_id, Center.all, :id, :name, { prompt: true }, { class: 'col-xs-10 col-sm-5' }
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'}  #{t('workshop.caption.fees_after_session')}
        .col-sm-9
          = f.number_field :fees_after_session, class: 'col-xs-10 col-sm-5'
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} #{t('workshop.caption.fees_before_session')}
        .col-sm-9
          = f.number_field :fees_before_session, class: 'col-xs-10 col-sm-5'
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} #{t('workshop.caption.fees_on_session')}
        .col-sm-9
          = f.number_field :fees_on_session, class: 'col-xs-10 col-sm-5'
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} #{t('workshop.caption.fees_on_rejoining')}
        .col-sm-9
          = f.number_field :fees_on_rejoining, class: 'col-xs-10 col-sm-5'
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} #{t('workshop.caption.start_date')}
        .col-sm-3
          .input-group
            = f.text_field :start_date, :value => @workshop.start_date.try(:strftime, "%d/%m/%Y") , id: 'id-date-picker-1', class: 'form-control date-picker'
            %span.input-group-addon
              %i.icon-calendar.bigger-110
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} #{t('workshop.caption.end_date')}
        .col-sm-3
          .input-group
            = f.text_field :end_date, :value => @workshop.end_date.try(:strftime, "%d/%m/%Y") , id: 'id-date-picker-1', class: 'form-control date-picker'
            %span.input-group-addon
              %i.icon-calendar.bigger-110    
      .clearfix
        .col-md-offset-3.col-md-9
          = f.submit t('workshop.caption.button.new'), class: 'btn btn-primary', title: t('workshop.caption.button.new')
          = link_to t('common.caption.button.cancel'), workshops_path, class: 'btn', title: t('common.caption.button.cancel')
