%tr.info
  %td<
    = workshop_counter + 1
  %td<
    = workshop.course.name
  %td<
    = workshop.instructor.name
  %td
    = workshop.center.name
  %td.text-center<
    = workshop.start_date.strftime('%Y-%m-%d')
  %td
    = workshop.end_date.strftime('%Y-%m-%d')