%tr.info
  %td.text-center<
    = date_formatted(workshop.start_date) rescue nil
  %td
    = date_formatted(workshop.end_date) rescue nil
  %td<
    = workshop.course.name
  /%td<
  /  = workshop.instructor.name
  %td
    = workshop.location
  %td.text-center<
    = link_to(t('common.caption.register'), new_workshop_registration_path(workshop), class: 'green', title: t('common.caption.register'))
