.page-content
  .page-header
    %h1
      Inner Teachings of Hinduism Revealed
      %small
        %i.icon-double-angle-right
        27 April, 2014 @ GMCKS Pranic Healing Center, Ahmedabad
  / .row
  /   .col-xs-12.align-center
  /     = link_to 'Register', new_registration_path, class: 'btn btn-success'
  -#.row
  -#  .col-xs-12.lead{style: 'text-align:justify'}
  -#    %p
  -#      Discover the mysteries behind the nature of the various Indian Deities and how can access their energies for self-transformation and self-healing.
  -#    %p
  -#      Although many people think that Hinduism is a polytheistic religion, in its deepest essence Hinduism shares many of the core beliefs of the world's great religions like Christianity, Buddhism, and Islam.
  -#    %p
  -#      This workshop shows you a pragmatic approach to understanding the One Universal Formless God through a more than 8,000 year old religion.
  -#      Drawing from His wealth of knowledge of different religions and cultures, and direct transmission from his Teacher, GrandMaster Choa Kok Sui cuts through the superstitious beliefs to reveal the inner meanings and significance behind different deities, symbols and rituals that form an integral part of this powerful religion.
  -#    %ul.list-unstyled
  -#      %li
  -#        %i.icon-angle-right.blue.bigger-110
  -#        Why does Ganesh have an Elephant Head? How is he connected with the Kundalini Shakti? Why only a single tusk?
  -#      %li
  -#        %i.icon-angle-right.blue.bigger-110
  -#        Why are Shiva and Krishna shown with "blue skin"? How does it accelerate our Spiritual Development and the Indigo Children?
  -#      %li
  -#        %i.icon-angle-right.blue.bigger-110
  -#        Was Hanuman really a monkey, why is he so powerful? Learn and harness Hanuman's Secret of Power!
  -#      %li
  -#        %i.icon-angle-right.blue.bigger-110
  -#        Learn and practice the Secrets of key Hindu Mantras like:
  -#        %ul#mantra
  -#          %li
  -#            Om Namah Shivaya - access the Power aspect of the Soul
  -#          %li
  -#            Gayatri Mantra - for Divine Guidance, Protection & to awaken Buddhi
  -#          %li
  -#            Lakshmi Mantra - Manifesting Abundance & Prosperity
  -#    %p
  -#      = link_to 'Registration', new_registration_path, class: 'btn btn-success'
  / .row
  /   .col-xs-12.align-center
  /     = image_tag 'hinduism.jpg'
  .space-6
  .row
    .col-xs-12
      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th{width: '7%'} #{t('common.caption.serial_number')}
              %th #{t('common.caption.course')}
              %th #{t('common.caption.instructor')}
              %th.text-center #{t('common.caption.center')}
              %th.text-center #{t('common.caption.start_date')}
              %th.text-center #{t('common.caption.end_date')}
              %th.text-center #{t('common.caption.register')} 
          - if @workshops.present?
            = render :partial => 'workshops/workshop_registration_list', collection: @workshops, as: :workshop
          - else
            %tr
              %td
                .text-center
                  %h3
                    = t('workshop.message.no_workshop_active')
