- @event_schedule ||= EventSchedule.new
- create_view = @event_schedule.new_record?
- submit_btn_caption = ( create_view ? t('event_schedule.caption.button.create') : t('event_schedule.caption.button.update') )
- start_time_dropdown = get_session_start_end_time(@event_schedule.start_date)
- end_time_dropdown = get_session_start_end_time(@event_schedule.end_date)
= form_for @event_schedule, html: { class: 'form-horizontal', role: 'form'} do |f|
  .row
    .col-xs-12.col-sm-12
      .center
        = render partial: 'shared/error_messages', locals: { target: f.object }
  .row
    .col-xs-12
      .col-xs-10
        .form-group
          %label.col-sm-3.control-label.no-padding-right= t('event_schedule.caption.event')
          .col-sm-4
            = f.collection_select :event_id, Event.all(:order => 'name ASC'), :id, :name, { prompt: true }, { class: 'form-control' }
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right= t('event_schedule.caption.center')
          .col-sm-4
            = f.collection_select :center_id, Center.all(:order => 'name ASC'), :id, :name, { prompt: true }, { class: 'form-control' }
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right #{t('common.caption.start_date')}
          .col-xs-2.margin-right-15
            .input-group
              = text_field_tag 'event_schedule[start_date]', nil, id: 'id-date-picker-1', class: 'form-control date-picker', :value => @event_schedule.start_date.try(:strftime, '%d/%m/%Y')
              %span.input-group-addon
                %i.icon-calendar.bigger-110
          .col-xs-2
            = select_tag("event_schedule[session_start]", options_for_select(get_options_session_start_end_dropdown, start_time_dropdown), :prompt=>"--Select--", class: 'form-control')
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right #{t('common.caption.end_date')}
          .col-xs-2.margin-right-15
            .input-group
              = text_field_tag 'event_schedule[end_date]', nil, id: 'id-date-picker-1', class: 'form-control date-picker', :value => @event_schedule.end_date.try(:strftime, '%d/%m/%Y')
              %span.input-group-addon
                %i.icon-calendar.bigger-110
          .col-xs-2
            = select_tag("event_schedule[session_end]", options_for_select(get_options_session_start_end_dropdown, end_time_dropdown), :prompt=>"--Select--", class: 'form-control')
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right #{t('event_schedule.caption.location')}
          .col-sm-9
            = f.text_field :location, class: 'col-xs-10 col-sm-6', placeholder: t('center.caption.placeholder.location')
            = f.hidden_field :lat
            = f.hidden_field :long
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right #{t('common.caption.contact')}
          .col-sm-9
            = f.text_field :contact, class: 'col-xs-10 col-sm-6'
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right
            = t('common.caption.donation')
            %b (&#x20B9;)
          .col-sm-9
            = f.text_field :donation, class: 'col-xs-10 col-sm-6'
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right= t('instructor.caption.eligibilities')
          .col-sm-7
            = f.collection_select :course_ids, Course.all, :id, :name, {}, multiple: true, prompt: false, id: 'form-field-select-4', class: 'instructor-chosen-select chosen-select tag-input-style', data: { placeholder: '' }
        .form-group
          %label.col-sm-3.control-label.no-padding-right{for: 'form-input-readonly'} #{t('event_schedule.caption.notes')}
          .col-sm-9
            = f.text_area :notes, rows: 4, class: 'form-control', :class => 'ckeditor'
        .space-4
        .clearfix
          .col-md-offset-3.col-md-9
            = f.submit "#{submit_btn_caption}", class: 'btn btn-primary', title: "#{submit_btn_caption}"
            = link_to t('common.caption.button.cancel'), event_schedules_path, class: 'btn', title: t('common.caption.button.cancel')

%script{:src => '//maps.googleapis.com/maps/api/js?v=3&sensor=true&libraries=places&region=india', type: 'text/javascript'}
:javascript
  $(function(){
  initGoogleLocationSearchFields('event_schedule_location', 'event_schedule_long', 'event_schedule_lat', false);
  });
