.row
  .col-sm-10.col-sm-offset-1
    .login-container
      .center
        .spacer75
      .space-6
      .position-relative
        #login-box.login-box.visible.widget-box.no-border
          .widget-body
            .widget-main
              %h4.header.blue.lighter.bigger
                = t('common.caption.sign_in')
              .space-6
              = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
                = render partial: 'shared/flash_messages'
                %fieldset
                  %label.block.clearfix
                    %span.block.input-icon.input-icon-right
                      = f.text_field :login, autofocus: true, placeholder: t('sign_in.placeholder.username'), class: 'form-control'
                      %i.icon-user
                  %label.block.clearfix
                    %span.block.input-icon.input-icon-right
                      = f.password_field :password, class: 'form-control', placeholder: t('sign_in.placeholder.password')
                      %i.icon-lock
                  .space
                  .clearfix
                    %label.inline
                      - if devise_mapping.rememberable?
                        = f.check_box :remember_me, class: 'ace'
                        %span.lbl
                          = t('sign_in.caption.remember_me')
                    = button_tag(type: 'submit', class: 'width-35 btn btn-sm btn-primary no-radius pull-right') do
                      = t('sign_in.caption.button.login')
            .toolbar.clearfix
              %div
                = render 'users/shared/links'