.page-header
  %h1 
    = t('instructor.page_content.header.index')
.row
  .col-xs-12
    .btn-group.pull-right.margin-bottom-10
      = link_to t('instructor.caption.button.new'), new_instructor_path, class: 'btn btn-sm btn-success' 
.row
  .col-xs-12
    .table-responsive
      %table#sample-table-2.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{width: '5%'} Sr No.
            %th{width: '27%'} Name
            %th.text-center{width: '10%'} Email
            %th.text-center{width: '10%'} Mobile
            %th.text-center{width: '10%'} Manage
        - if @instructors.present?
          %tbody
          - @instructors.each_with_index do |instructor, index|
            %tr
              %td= index + 1
              %td= instructor.name
              %td.text-center= instructor.email
              %td.text-center= instructor.mobile
              %td.text-center<
                .action-buttons
                  = link_to(edit_instructor_path(instructor), class: 'green', title: 'Edit') do
                    %i.icon-pencil.bigger-130
                  = link_to(instructor_path(instructor), method: :delete, :confirm=>'Are you sure you want to remove this instructor?', class: 'red', title: 'Delete')  do
                    %i.icon-trash.bigger-130
        - else
          %tr
            %td{colspan: 6}
              .text-center
                %h3
                  = t('course.message.no_instructor_found')   