- gender =  @profile.gender == 'M' ? 'Male' : 'Female'
/ - marital_status = @profile.marital_status.present? ? 'Married' : 'Unmarried'
.row
  .col-xs-8
    .form-group
      %label.h5
        %b= "#{t('registration.caption.pdf.trainer')} : "
      %label.h5= @registration.workshop.instructor.name.upcase
  .col-xs-4
    .form-group.pull-left
      %label.h5
        %b= "#{t('registration.caption.pdf.certificate_number')} : "
      %label.h5= @registration.certificate_number
.row
  .col-xs-8
    .form-group
      %label.h5
        %b= "#{t('registration.caption.pdf.name')} : "
      %label.h5= @profile.name.upcase
  .col-xs-4
    .form-group
      %label.h5
        %b= "#{t('registration.caption.pdf.date_of_birth')} : "
      %label.h5= @profile.birth_date.strftime(Settings.defaults.date_format_in_views)
.row
  .col-xs-8
    .form-group.text-left
      %label.h5
        %b= "#{t('registration.caption.pdf.gender')} : "
      %label.h5= gender.upcase
  .col-xs-4
    .form-group.pull-left
      %label.h5
        %b= "#{t('registration.caption.pdf.marital_status')} : "
      %label.h5= @profile.marital_status.upcase
.row
  .col-xs-8
    .form-group
      %label.h5
        %b= "#{t('registration.caption.pdf.education_qualification')} : "
      %label.h5= @profile.education.upcase
  .col-xs-4
    .form-group.pull-left
      %label.h5
        %b= "#{t('registration.caption.pdf.occupation')} : "
      %label.h5= @profile.occupation.upcase
.row
  .col-xs-12
    .form-group
      %label.h5
        %b= "#{t('registration.caption.pdf.resident_address')} : "
      %br/
      %label.h5= @profile.address.upcase
.row
  .col-xs-8
    .form-group
      %label.h5
        %b= "#{t('registration.caption.pdf.mobile')} : "
      %label.h5= @profile.mobile
  .col-xs-4
    .form-group.pull-left
      %label.h5
        %b= "#{t('registration.caption.pdf.res_or_office_tel')} : "
      %label.h5= @profile.telephone
.row
  .col-xs-12
    .form-group
      %label.h5
        %b= "#{t('registration.caption.pdf.email')} : "
      %label.h5= @profile.email