- # Initialize the nested attributes if they are not present
- @registration.user_profile ||= UserProfile.new
- # @registration.workshop ||= Workshop.new

= form_for @registration, html: { class: 'form-horizontal', role: 'form'} do |f|
  = render partial: 'shared/error_messages', locals: { target: @registration }
  .row
    .col-xs-12
      = f.fields_for :user_profile do |ff|
        .form-group
          %label.col-sm-3.control-label.no-padding-right Name
          .col-sm-9
            = ff.text_field :first_name, placeholder: 'First Name', class: 'col-xs-2 margin-right-10'
            = ff.text_field :middle_name, placeholder: 'Middle Name', class: 'col-xs-2 margin-right-10'
            = ff.text_field :last_name, placeholder: 'Surname', class: 'col-xs-2'
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right Date of Birth
          .col-sm-3
            .input-group
              = ff.text_field :birth_date, placeholder: 'dd/mm/yyyy', class: 'form-control date-picker', id: 'id-date-picker-1', value: @registration.user_profile.birth_date.try(:strftime, '%d/%m/%Y')
              %span.input-group-addon
                %i.icon-calendar.bigger-110
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right Gender
          .col-sm-9
            .control-group
              .radio
                %label
                  = ff.radio_button :gender, 'M', class: 'ace'
                  %span.lbl Male
                %label
                  = ff.radio_button :gender, 'F', class: 'ace'
                  %span.lbl Female
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right Marital Status
          .col-sm-9
            .control-group
              .radio
                %label
                  = ff.radio_button :married, true, class: 'ace'
                  %span.lbl Married
                %label
                  = ff.radio_button :married, false, class: 'ace'
                  %span.lbl Unmarried
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right Education
          .col-sm-9
            = ff.text_field :education, class: 'col-xs-10 col-sm-5'
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right Occupation
          .col-sm-9
            = ff.text_field :occupation, class: 'col-xs-10 col-sm-5'
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right{ for: 'form-input-readonly' }
            Residential Address
          .col-sm-9
            = ff.text_area :address, class: 'col-xs-10 col-sm-5', rows: 4
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right Mobile
          .col-sm-9
            = ff.telephone_field :mobile, class: 'col-xs-10 col-sm-5'
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right Telephone
          .col-sm-9
            = ff.telephone_field :telephone, class: 'col-xs-10 col-sm-5'
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right Email
          .col-sm-9
            = ff.text_field :email, class: 'col-xs-10 col-sm-5'
        .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right Payment By
        .col-sm-9
          = f.collection_select :payment_type_id, @payment_types, :id, :name
      %div#cheque_details{style: cheque_details_visibility}
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right Cheque Details
          .col-sm-9
            = f.text_field :cheque_no, placeholder: 'Cheque no', class: 'col-xs-2 margin-right-10'
            = f.text_field :bank_name, placeholder: 'Bank name', class: 'col-xs-2 margin-right-10'
            .col-sm-2.no-padding-left
              .input-group
                = f.text_field :cheque_date, placeholder: 'dd/mm/yyyy', class: 'form-control date-picker', id: 'id-date-picker-1', :value => @registration.cheque_date.try(:strftime, '%d/%m/%Y')
                %span.input-group-addon
                  %i.icon-calendar.bigger-110
            / = f.text_field :cheque_date, placeholder: 'Cheque dated', class: 'col-xs-2'
      %div#net_banking_details{style: net_banking_details_visibility}
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right Net Banking Details
          .col-sm-9
            %span.lbl= "Bank Name : #{Settings.payment.net_banking.bank_name}"
            %br/
            %span.lbl= "Account Name : #{Settings.payment.net_banking.account_name}"
            %br/
            %span.lbl= "Account : #{Settings.payment.net_banking.account_number}"
            %br/
            %span.lbl= "IFSC : #{Settings.payment.net_banking.ifsc}"
            %br/
            %span.lbl= "Branch : #{Settings.payment.net_banking.branch_name}"
            %br/
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right Course Attempt
        .col-sm-9
          .control-group
            .radio
              %label
                = f.radio_button :fresher, true, class: 'ace'
                %span.lbl Fresher
              %label
                = f.radio_button :fresher, false, class: 'ace'
                %span.lbl Review
      - # Remove this comment when enabling workshops
      - if false
        = f.fields_for :workshop do |ff|
          .form-group
            %label.col-sm-3.control-label.no-padding-right
              Basic Pranic Healing
            .col-sm-9
              =# ff.text_field :workshop_place, placeholder: 'Place', class: 'col-xs-2 margin-right-10'
              =# ff.text_field :workshop_dated, placeholder: 'Date OR Year', class: 'col-xs-2 margin-right-10'
              = ff.text_field :instructor_id, placeholder: 'Instructor', class: 'col-xs-2'
      - if current_user
        .space-4
        .form-group
          %label.col-sm-3.control-label.no-padding-right Registered On
          .col-sm-3
            .input-group
              = f.text_field :registration_date, placeholder: 'dd/mm/yyyy', class: 'form-control date-picker', id: 'id-date-picker-1', :value => @registration.registration_date.try(:strftime, '%d/%m/%Y')
              %span.input-group-addon
                %i.icon-calendar.bigger-110
      - if @registration.new_record?
        .hr.hr-24
        -#%h4.header.green Details of Pranic Healing Courses you have taken (as applicable)
        %div{style: 'text-align:justify'}
          .col-xs-12
            %p
              I, hereby state that, having had the privilege of being accepted as a student in GRAND MASTER CHOA KOK
              SUI’S above-named course, do solemnly swear to keep Secret and Confidential, all the sacred teachings taught
              therein.
            %p
              On my Honour, I sincerely promise to preserve these sacred teachings in their purest form, and practice them in the
              proper and correct manner, guided by the golden rules and the Five Arhatic Virtues taught by Grand Master Choa
              Kok Sui. I also promise to prevent misuse or incorrect practice of these teachings by persons who have not been
              adequately instructed.
            %p
              With the Lord God as my witness, and my Higher Self as my guide, I shall uphold this Vow of Secrecy and I will
              not divulge to anybody, under any circumstances, verbally or through the reproduction of written material, or
              through some other form, in whole or in part, any of the teachings, principles and techniques from the course.
            %p
              I make this solemn vow freely and voluntarily, with no mental reservation or purpose of evasion.

            .checkbox
              %label
                = check_box_tag 'accept_vow', false, false, checked: false, id: 'accept_vow'
                I accept VOW OF SECRECY
              .hc-red (You must accept to in order to proceed)
            .space-10
      .clearfix
        .col-md-offset-3.col-md-9
          = f.submit registration_submit_button, class: "#{registration_submit_button_class}", id: 'register'
          = f.submit 'Reset', type: 'reset', class: 'btn'
          = link_to 'Cancel', registrations_path, class: 'btn'