%h2.text-center
  %b= t('registration.caption.pdf.headers.header_line_1')
  %h4.text-center.title_underline= @registration.workshop.course.name.upcase
  %h4.text-center= t('registration.caption.pdf.headers.header_line_3')
  %h4.text-center= t('registration.caption.pdf.title')
  %h4.text-center= t('registration.caption.pdf.headers.header_line_5')