%h4.text-center.title_underline= t('registration.caption.pdf.vow_of_secrecy.title')
%p.force-justify{style: 'font-size: 15px;'}= t('registration.caption.pdf.vow_of_secrecy.paragraph_1')
%p.force-justify{style: 'font-size: 15px;'}= t('registration.caption.pdf.vow_of_secrecy.paragraph_2')
%p.force-justify{style: 'font-size: 15px;'}= t('registration.caption.pdf.vow_of_secrecy.paragraph_3')
%p.force-justify{style: 'font-size: 15px;'}= t('registration.caption.pdf.vow_of_secrecy.paragraph_4')