- unless @profiles.blank?
  .spacer10
  .row
    .col-xs-12
      .table-responsive
        %table#sample-table-2.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th.center #{t('common.caption.name')}
              %th.center{width: '25px'} #{t('common.caption.mobile')}
              %th.center{width: '25px'} #{t('registration.caption.telephone')}
              %th
          %tbody
            - @profiles.each do |profile|
              - if profile.user
                %tr
                  %td= profile.name
                  %td= profile.mobile
                  %td= profile.telephone
                  %td= link_to(t('common.caption.register'), new_workshop_registration_path(workshop_id: @workshop.id, member_id: profile.member_id), class: 'green', title: t('common.caption.register'))
