.page-header
  %h1 Registrations
.row
  .col-xs-12
    %ul.nav.nav-pills#registrations_container
      %li{class: active_pill('confirmed')}
        = link_to 'Confirmed', registrations_path(status: 'confirmed')
      %li{class: active_pill('cancelled')}
        = link_to 'Cancelled', registrations_path(status: 'cancelled')
      %li{class: active_pill}
        = link_to 'All', registrations_path
      = link_to 'New Registration', new_registration_path, class: 'btn btn-success pull-right'
    .space-6
.row
  .col-xs-12
    .table-responsive
      %table#sample-table-2.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{width: '5%'} Sr No.
            %th{width: '25%'} Name
            %th{width: '10%'} Mobile
            %th{width: '10%'} Payment Type
            %th{width: '10%'} Course Attempt
            %th{width: '10%'} Gender
            %th{width: '10%'} Marital Status
            %th{width: '10%'} Registered On
            %th.text-center Manage
        %tbody
          - @registrations.each_with_index do |registration, index|
            %tr
              %td= index + 1
              %td= registration.name
              %td= registration.mobile
              %td= registration.payment_type.name
              %td= registration.course_attempt
              %td= registration.gender
              %td= registration.marital_status
              %td= registration.registration_date.strftime('%d/%m/%Y')
              %td.text-center<
                .action-buttons
                  = link_to(edit_registration_path(registration), class: 'green', title: 'Edit') do
                    %i.icon-pencil.bigger-130
                  - if registration.active
                    = link_to(deactivate_registration_path(registration), method: :put, data: { confirm: 'Are you sure you want to cancel the registration?' }, title: 'Cancel') do
                      %i.icon-pause.bigger-130
                  - else
                    = link_to(activate_registration_path(registration), method: :put, data: { confirm: 'Are you sure you want to confirm the registration?' }, title: 'Confirm') do
                      %i.icon-play.bigger-130
                  = link_to(registration_path(registration), method: :delete, :confirm=>'Are you sure you want to remove this registration?', class: 'red', title: 'Delete')  do
                    %i.icon-trash.bigger-130