.page-content
  .page-header
    %h1
      = t('registration.page_content.header.new')
      %small
        %i.icon-double-angle-right
        = @workshop.course.name
        - unless @workshop.start_date.blank?
          &nbsp;
          %i.icon-calendar.bigger-110
          = @workshop.start_date.try(:strftime, '%d/%m/%Y')
        - unless @workshop.location.blank?
          &nbsp;
          %span.icon-map-marker.bigger-110
          = @workshop.location
  - if @member
    = render partial: 'registrations/form_for_user'
  - else
    = render partial: 'registrations/form'
