.page-content
  .page-header
    %h1
      = t('registration.page_content.header.new')
      %small
        %i.icon-double-angle-right
        = t('registration.page_content.header.breadcrumb')
  = render :partial => 'form'

- # Body of the sign in confirmation model
- # appears if user is not logged in and
- # the mobile number entered by user matches to any existing user
.hide
  = render partial: 'registrations/sign_in_confirmation'
  - # store the value of current user is logged in or not
  - # for determining whether sign_in_confirmation popup will appear or not
  = hidden_field_tag 'user_signed_in', !current_user.blank?
