%table
  %tr
    %th= t('common.caption.serial_number')
    %th= t('common.caption.name')
    %th= t('common.caption.mobile')
    %th= t('registration.caption.payment_type')
    %th= t('registration.caption.gender')
    %th= t('registration.caption.marital_status')
    %th= t('registration.caption.registered_on')
  - @registrations.each_with_index do |registration, index|
    - profile = registration.get_user_profile
    %tr
      %td= index + 1
      %td= profile.name
      %td= profile.mobile
      %td= registration.payment_type.name
      %td= profile.gender
      %td= profile.marital_status
      %td= registration.registration_date.strftime(Settings.defaults.date_format_in_views)