%table
  %tr
    %th Sr No.
    %th Name
    %th Mobile
    %th Payment Type
    %th Gender
    %th Mariral Status
    %th Registered On
  - @registrations.each_with_index do |registration, index|
    %tr
      %td= index + 1
      %td= registration.name
      %td= registration.mobile
      %td= registration.payment_type.name
      %td= registration.gender
      %td= registration.marital_status
      %td= registration.registration_date.strftime('%d/%m/%Y')