- gender =  @profile.gender == 'M' ? 'Male' : 'Female'
- marital_status = @profile.marital_status ? 'Married' : 'Unmarried'
- # workshop = @registration.workshop
!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
    = wicked_pdf_stylesheet_link_tag 'pdf/ace.min'
    = wicked_pdf_stylesheet_link_tag 'pdf/bootstrap'
    = wicked_pdf_stylesheet_link_tag 'pdf/custom'
  %body
    #wrap
      %header
      %main{role: 'main'}
        .main-container
          .main-container-inner
            .main-content
              .page-content
                %h2.text-center
                  %b= t('registration.caption.pdf.title')
                  %h4.text-center= t('registration.caption.pdf.address_line_1')
                  %h4.text-center= t('registration.caption.pdf.address_line_2')
                  %h4.text-center= t('registration.caption.pdf.address_line_3')
                  %h4.text-center= t('registration.caption.pdf.address_line_4')
                .space-28
                .row
                  .col-xs-12
                    %h3
                      %b= t('registration.caption.pdf.name_of_course')
                      %b= t('registration.caption.pdf.course_title')
                .space-28
                - # uncomment when enabling workshop
                - if false
                  .row
                    .col-xs-8
                      .form-group
                        %label.h4
                          %b= t('registration.caption.pdf.trainer')
                        %label.h4= workshop.workshop_instructor.capitalize
                    .col-xs-4
                      .form-group.pull-left
                        %label.h4
                          %b= t('registration.caption.pdf.certificate_number')
                          %u
                .row
                  .col-xs-8
                    .form-group
                      %label.h4
                        %b= t('registration.caption.pdf.name')
                      %label.h4= @profile.name.titleize
                  .col-xs-4
                    .form-group
                      %label.h4
                        %b= t('registration.caption.pdf.date_of_birth')
                      %label.h4= @profile.birth_date.strftime(Settings.defaults.date_format_in_views)
                .row
                  .col-xs-8
                    .form-group.text-left
                      %label.h4
                        %b= t('registration.caption.pdf.gender')
                      %label.h4= gender
                  .col-xs-4
                    .form-group.pull-left
                      %label.h4
                        %b= t('registration.caption.pdf.marital_status')
                      %label.h4= marital_status
                .row
                  .col-xs-8
                    .form-group
                      %label.h4
                        %b= t('registration.caption.pdf.education_qualification')
                      %label.h4= @profile.education
                  .col-xs-4
                    .form-group.pull-left
                      %label.h4
                        %b= t('registration.caption.pdf.occupation')
                      %label.h4= @profile.occupation
                .row
                  .col-xs-12
                    .form-group
                      %label.h4
                        %b= t('registration.caption.pdf.resident_address')
                      %br/
                      %label.h4= simple_format(@profile.address)
                .row
                  .col-xs-8
                    .form-group
                      %label.h4
                        %b= t('registration.caption.pdf.mobile')
                      %label.h4= @profile.mobile
                  .col-xs-4
                    .form-group.pull-left
                      %label.h4
                        %b= t('registration.caption.pdf.res_or_office_tel')
                      %label.h4= @profile.telephone
                .row
                  .col-xs-12
                    .form-group
                      %label.h4
                        %b= t('registration.caption.pdf.email')
                      %label.h4= @profile.email
                - # uncomment when enabling Workshop
                - if false
                  .row
                    .col-xs-12
                      .form-group
                        %label.h4
                          %b= t('registration.caption.pdf.details_of_course')
                        %table{border: '1', style: 'width: 100%;'}
                          %thead
                            %tr{style: 'height: 30px;'}
                              %th.h4.text-center
                                %b= t('registration.caption.pdf.course')
                              %th.h4.text-center
                                %b= t('registration.caption.pdf.place_conducted')
                              %th.h4.text-center
                                %b= t('registration.caption.pdf.year_and_date')
                              %th.h4.text-center
                                %b= t('registration.caption.pdf.trainer')
                          %tbody
                            %tr{style: 'height: 30px;'}
                              %td.h4.text-center<
                                = t('registration.caption.pdf.basic_pranic_healing')
                              %td.h4.text-center<
                                = workshop.workshop_place.capitalize
                              %td.h4.text-center<
                                = workshop.workshop_dated
                              %td.h4.text-center<
                                = workshop.workshop_instructor.capitalize
                .row
                  .col-xs-12
                    %h3.text-center
                      %u
                        %b= t('registration.caption.pdf.declaration')
                .row
                  .col-xs-12
                    %p{style: 'font-size: 19px;'} #{t('registration.caption.pdf.text_paragraph_1')}
                    %p{style: 'font-size: 19px;'} #{t('registration.caption.pdf.text_paragraph_2')}
                    %p{style: 'font-size: 19px;'} #{t('registration.caption.pdf.text_paragraph_3')}
                .space-20
                .row
                  .col-xs-8
                    .form-group
                      %label.h4
                        %b= t('registration.caption.pdf.date')
                .row
                  .col-xs-8
                    .form-group
                      %label.h4
                        %b= t('registration.caption.pdf.vanue')
                        = t('registration.caption.pdf.vanue_name')
                  .col-xs-4
                    .form-group
                      %label.h4
                        %b= t('registration.caption.pdf.signature')