- workshop_alias = @registration.workshop.course.alias
- @other_course = @registration.other_details.other_healing_course.present? ? 'Yes' : 'No'
- @limit_your_practice = @registration.other_details.limit_to_pranic_healing.present? ? 'Yes' : 'No'
- serious_illness = @registration.other_details.serious_illness.present? ? 'Yes' : 'No'
!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
    = wicked_pdf_stylesheet_link_tag 'pdf/ace.min'
    = wicked_pdf_stylesheet_link_tag 'pdf/bootstrap'
    = wicked_pdf_stylesheet_link_tag 'pdf/custom'
  %body
    #wrap
      %header
      %main{role: 'main'}
        .main-container
          .main-container-inner
            .main-content
              .page-content
                = render partial: 'registrations/form_header.html.haml'
                .spacer20
                - # uncomment when enabling workshop
                = render 'common_personal_detail.html.haml'
                - if workshop_alias != 'BPH' && workshop_alias != 'AOHS'
                  = render 'courses_table.html.haml'
                - if workshop_alias == 'APH'
                  = render partial: 'registrations/advance_form_content.html.haml'
                - elsif workshop_alias == 'BPH'
                  .row
                    .col-xs-12
                      .form-group
                        %label.h5
                          %b= "#{t('registration.caption.basic.other_healing_course')} : "
                        %label.h5= @registration.other_details.other_healing_course if @registration.other_details.other_healing_course.present?
                - if workshop_alias == 'APH' || workshop_alias == 'BPH'
                  .row
                    .col-xs-12
                      .form-group
                        %label.h5
                          %b= "#{t('registration.caption.basic.other_ailments')} : "
                        %label.h5
                          - [:arthritis, :rheumatism, :hypertension, :heart, :kidney, :liver ].each do |ailment|
                            - flag = @registration.other_details.send(ailment).present? ? "Yes" : "No"
                            %span{style:'font-weight:bold;'}= I18n.t("registration.caption.basic.ailments.#{ailment}")
                            = " : #{flag}"
                  .row
                    .col-xs-12
                      .form-group
                        %label.h5
                          %b= "#{t('registration.caption.basic.serious_illness')}"
                        %label.h5= serious_illness
                  - if serious_illness == 'Yes'
                    .row
                      .col-xs-12
                        .form-group
                          %label.h5
                            %b If 'Yes',please specify and indicate present status :
                          %label.h5= @registration.other_details.serious_illness
                .row
                  .col-xs-12
                    - if workshop_alias == 'APH'
                      %p.force-justify{style: 'font-size: 15px;'}= t('registration.caption.pdf.declaration.aph.paragraph')
                    - elsif workshop_alias == 'BPH'
                      = render partial: 'registrations/bph_declaration.html.haml'
                    - else
                      = render partial: 'registrations/other_form_declaration.html.haml'
                .spacer30
                -#.row
                  .col-xs-12
                    %h3.text-center
                      %u
                        %b= "#{t('registration.caption.pdf.declaration')} : "
                -#.space-20
                .row
                  .col-xs-8
                    .form-group
                      %label.h5
                        %b= "#{t('registration.caption.pdf.date')} : "
                .row
                  .col-xs-8
                    .form-group
                      %label.h5
                        %b= "#{t('registration.caption.pdf.vanue')} : "
                  .col-xs-4
                    .form-group
                      %label.h5
                        %b= "#{t('registration.caption.pdf.signature')} : "
