%table
  %tr
    %th Sr No.
    %th Name
    %th Mobile
    %th Payment Type
    %th Gender
    %th Mariral Status
    %th Registered On
  - @registrations.each_with_index do |registration, index|
    - profile = registration.get_user_profile
    %tr
      %td= index + 1
      %td= profile.name
      %td= profile.mobile
      %td= registration.payment_type.name
      %td= profile.gender
      %td= profile.marital_status
      %td= registration.registration_date.strftime('%d/%m/%Y')