-#- if @events_upcoming.present?
-#  .spacer20
-#  %br/
-#  %br/
/  %br/
/  %br/
/  #allevents
/    = render :partial => 'allevents'
/- else
/  %tr
/    %td{colspan: 7}
/      .text-center
/        %h3
/          = t('event.message.no_upcoming_event')
/#upcomingevents
/  = render :partial => 'upcomingevents'
- if @event_schedule.present?
  .spacer20
  %br/
  %br/
  %br/
  %br/
  .container
    .section_header
      %h3= t('event.caption.upcoming_events_title')
    .row
      .col-xs-12
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover#WorkshopRegistrationTable
            %thead
              %tr
                %th.text-center{width: '12%'}  #{t('common.caption.start_date')}
                %th.text-center{width: '12%'}  #{t('common.caption.end_date')}
                %th{width: '25%'} #{t('common.caption.event')}
                %th.text-center{width: '15%'} #{t('common.caption.instructor')}
                %th.text-center #{t('common.caption.center_location')}
                %th.text-center{width: '10%'} #{t('common.caption.view')}
                #abc
                  = render :partial => 'events/event_list', collection: @events_upcoming, as: :event_schedule
                #paginator
                  = paginate @events_upcoming, :remote => true, :param_name => "events_upcoming_page"