.row
  .col-xs-12
    -#%form.form-horizontal{role: "form"}
    = form_for @center, html: {class: 'form-horizontal', role: 'form'} do |f|
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right
        .col-sm-9
          = render partial: 'shared/error_messages', locals: { target: @center }
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Name
        .col-sm-9
          = f.text_field :name, class: 'col-xs-10 col-sm-5'
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Foundation
        .col-sm-9
          = f.collection_select :foundation_id, @foundations, :id, :name
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Location
        .col-sm-9
          = f.text_field :location, class: 'col-xs-10 col-sm-5'
          = f.hidden_field :lat
          = f.hidden_field :long
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-input-readonly'} Address
        .col-xs-10.col-sm-4
          = f.text_area :address, rows: 4, class: 'form-control'
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Phone 1
        .col-sm-9
          = f.phone_field :phone1, class: 'col-xs-10 col-sm-5'
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Phone 2
        .col-sm-9
          = f.phone_field :phone2, class: 'col-xs-10 col-sm-5'
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Mobile
        .col-sm-9
          = f.phone_field :mobile, class: 'col-xs-10 col-sm-5'
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Email
        .col-sm-9
          = f.email_field :email, class: 'col-xs-10 col-sm-5'
      .clearfix
        .col-md-offset-3.col-md-9
          = f.submit class: 'btn btn-info'
          = f.submit 'Reset', type: 'reset', class: 'btn'

%script{:src => '//maps.googleapis.com/maps/api/js?v=3&sensor=true&libraries=places', type: 'text/javascript'}
:javascript
  $(function(){
     initGoogleLocationSearchFields('center_location', 'center_long', 'center_lat', false);
  });
