.page-header
  %h1
    = t('center.caption.centers')
.row
  .col-xs-12
    .btn-group.pull-right
      = link_to t('center.caption.new_center'), new_center_path, class: 'btn btn-sm btn-success', title: t('center.caption.new_center')
.row
  .space-6
  .col-xs-12
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{width: '7%'} #{t('common.caption.serial_number')}
            %th #{t('common.caption.name')}
            %th{width: '25%'} #{t('center.caption.location')}
            %th.text-center{width: '10%'} #{t('common.caption.manage')}
        - if @centers.present?
          - @centers.each_with_index do |center, index|
            %tr.info
              %td<
                = index + 1
              %td<
                = link_to center.name, edit_center_path(center)
              %td<
                = center.location
              %td.text-center<
                .visible-md.visible-lg.hidden-sm.hidden-xs.action-buttons
                  = link_to(edit_center_path(center), class: 'green', title: t('common.caption.title.edit')) do
                    %i.icon-pencil.bigger-130
        - else
          %tr
            %td{colspan: 4}
              .text-center
                %h3= t('center.message.no_centers_found')
    .col-xs-12
      .row
        .col-sm-6
        .col-sm-6
          .dataTables_paginate.paging_bootstrap
            = paginate @centers