.page-header
  %h1
    Centers
.row
  .col-xs-12
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{width: '7%'} Sr No.
            %th Name
            %th{width: '25%'} Location
            %th.text-center{width: '10%'} Manage
        - if @centers.present?
          - @centers.each_with_index do |center, index|
            %tr.info
              %td<
                = index + 1
              %td<
                = link_to center.name, center_path(center)
              %td<
                = center.location
              %td.text-center<
                .visible-md.visible-lg.hidden-sm.hidden-xs.action-buttons
                  = link_to(edit_center_path(center), class: 'green') do
                    %i.icon-pencil.bigger-130
        - else
          %tr
            %td{colspan: 4}
              .text-center
                %h3 No Centers Found
    .col-xs-12
      .row
        .col-sm-6
        .col-sm-6
          .dataTables_paginate.paging_bootstrap
            = paginate @centers