%tr.info
  %td.text-center{title: time_formatted(event_schedule.start_date)}<
    = date_formatted(event_schedule.start_date) rescue nil
  %td.text-center{title: time_formatted(event_schedule.start_date)}
    = date_formatted(event_schedule.end_date) rescue nil
  %td<
    = event_schedule.event.name
  -#%td<
    = workshop.instructor.name
  %td
    = event_schedule.center.name
  %td<
    = event_schedule.location
  %td.text-center<
    = link_to(t('common.caption.view'), event_detail_path(event_schedule), class: 'green', title: t('common.caption.view'))
