.row
  .col-xs-12
    - if @donation_chart.present?
      .col-xs-10
        = image_tag @donation_chart.uri
.spacer15
.row
  .col-xs-12
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th{width: '12%'} Receipt Number
          %th{width: '20%'} Donor
          %th{width: '25%'} Center
          %th{width: '10%'} Amount (&#x20B9;)
          %th{width: '15%'} Donation Type
          %th{width: '5%'} Received By
      - if @donations.present?
        - @donations.each do |donation|
          - donation_type = donation.donation_type == 1 ? 'For Center' : 'For Food for Hungry'
          %tr
            %td
              = donation.receipt_number
            %td
              = donation.donor_name
            %td
              = donation.center.name
            %td
              = donation.amount
            %td
              = donation_type
            %td
              = donation.user.email
      - else
        %tr
          %td{colspan: 7}
            .text-center
              %h3= = t('course.message.no_donations_found')