!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = wicked_pdf_stylesheet_link_tag "pdf/ace.min"
    = wicked_pdf_stylesheet_link_tag "pdf/bootstrap"
    = wicked_pdf_stylesheet_link_tag "pdf/custom"
  %body
    #wrap
      %header
      %main{:role => "main"}
        .main-container
          .main-container-inner
            .main-content
              .page-content
                .page-header
                  %h1.text-center
                    = t('donation.caption.pdf.report_title')
                .spacer15
                = render partial: 'donations/donation_report.html.haml', locals: { pdf: true }