.page-header
  %h1
    = t('donation.caption.donations')
.row
  .col-xs-12
    .btn-group.pull-right
      = link_to(t('donation.caption.button.new'), new_donation_path, class: 'btn btn-sm btn-success', title: t('donation.caption.button.new'))
.space-6
.row
  .col-xs-12
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{width: '12%'} #{t('donation.caption.receipt_no')}
            %th{width: '15%'} #{t('donation.caption.name')}
            %th{width: '15%'} #{t('donation.caption.center')}
            %th{width: '10%'} #{t('donation.caption.amount')} (&#x20B9;)
            %th{width: '15%'} #{t('donation.caption.donation_type')}
            %th{width: '15%'} #{t('donation.caption.received_by')}
            %th= t('common.caption.description')
            %th
        - if @donations.present?
          - @donations.each do |donation|
            - donation_type = donation.donation_type == 1 ? t('donation.caption.for_center_radio') : t('donation.caption.for_food_for_hungry_radio')
            %tr
              %td
                = donation.receipt_number
              %td
                = donation.donor_name
              %td
                = donation.center.name
              %td
                = donation.amount
              %td
                = donation_type
              %td
                = current_user.email
              %td
                = donation.description if donation.description
              %td.text-center<
                = link_to(export_donation_pdf_path(donation, format: :pdf), target: '_blank', title: t('donation.caption.title.save_as_pdf')) do
                  %i.icon-print.bigger-130
        - else
          %tr
            %td{colspan: 8}
              .text-center
                %h3= t('donation.caption.message.no_donations_found')
