%tr.info
  %td<
    = course_counter + 1
  %td<
    = link_to course.name, edit_course_path(course)
  %td<
    = course.course_category.name if course.course_category.present?
  %td.text-center<
    = course.donation
  %td.text-center<
    = course.review_donation
  %td.text-center<
    .visible-md.visible-lg.hidden-sm.hidden-xs.action-buttons
      = link_to(edit_course_path(course), class: 'green', title: t('common.caption.title.edit')) do
        %i.icon-pencil.bigger-130
      - if course.status
        = link_to(deactivate_course_path(course), method: :put, data: { confirm: t('course.message.deactivate_confirm_message') }, title: t('common.caption.deactivate')) do
          %i.icon-pause.bigger-130
      - else
        = link_to(activate_course_path(course), method: :put, data: { confirm: t('course.message.activate_confirm_message') }, title: t('common.caption.activate')) do
          %i.icon-play.bigger-130
