.row
  .col-xs-12
    = form_for @course,  html: {class: 'form-horizontal', role: 'form'} do |f|
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right
        .col-sm-9
          = render partial: 'shared/error_messages', locals: { target: @course }
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Course Category
        .col-sm-9
          = f.collection_select :course_category_id, @course_categories, :id, :name, {prompt: "Select a course category"}, {class: 'col-xs-10 col-sm-5'}
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Name
        .col-sm-9
          = f.text_field :name, class: 'col-xs-10 col-sm-5'
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: "form-input-readonly"} Description
        .col-xs-10.col-sm-4
          = f.text_area :description, rows: 4, class: 'form-control'
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Donation
        .col-sm-9
          = f.text_field :donation, class: 'col-xs-10 col-sm-5'
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Review Donation
        .col-sm-9
          = f.text_field :review_donation, class: 'col-xs-10 col-sm-5'
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: "form-field-1"} Review Donation
        .col-sm-9
          = f.file_field :avatar, class: 'col-xs-10 col-sm-5'
      .clearfix
        .col-md-offset-3.col-md-9
          = f.submit class: 'btn btn-info'
          = f.submit 'Reset', type: 'reset', class: 'btn'
