.page-header
  %h1
    = t('course.caption.courses')
.row
  .space-6
  .col-xs-12
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{width: '7%'} #{t('common.caption.serial_number')}
            %th #{t('common.caption.name')}
            %th #{t('course.caption.course_category')}
            %th.text-center #{t('course.caption.donation')}
            %th.text-center #{t('course.caption.review_donation')}
            %th.text-center #{t('common.caption.manage')}
        - if @courses.present?
          = render :partial => 'courses', collection: @courses, as: :course
        - else
          %tr
            %td{colspan: 6}
              .text-center
                %h3
                  = t('course.message.no_courses_found')
    .col-xs-12
      .row
        .col-sm-6
        .col-sm-6
          .dataTables_paginate.paging_bootstrap
            = paginate @courses