- upcoming_workshops = @course.workshops.where("start_date >= ?", Date.today).order(:start_date)
.row
  .col-sm-7.left_box
    .big
      %h3= @course.name
      %p.activity-list-img-height
        - if  @course.avatar_file_name.present?
          = image_tag website_course_image_path(style: :medium, id: @course.id, filename: @course.avatar_file_name)
      %p
        = simple_format(@course.description)
  .col-sm-5.right_box
    %h3.right_box_nav_title=t('home_courses.caption.eligibilities')
    %p
      - if @course.eligibilities.present?
        - @course.eligibilities.each do |eligibility|
          %p
            = eligibility.name
      - else
        = render_course_eligibility(@course.eligibility)
    %h3.right_box_nav_title=t('home_courses.caption.upcomming_workshops')
    - if upcoming_workshops.present?
      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th=t('home_courses.caption.date')
              %th=t('home_courses.caption.location')
              %th{width: '7%'}
          - upcoming_workshops.each do |upcoming_workshop|
            %tr
              %td= date_formatted(upcoming_workshop.start_date)
              %td= upcoming_workshop.location
              %td
                = link_to(new_workshop_registration_path(upcoming_workshop), title: t('common.caption.register')) do
                  .upcoming_workshops_register_link.height_width_16
    - else
      %p
        %h5= t('home_courses.message.no_upcoming_workshops_found')