- options = [:workshops, :donations, :centers, :instructors, :courses]
%header#top.navbar.navbar-static-top.bs-docs-nav{role: "banner"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to(root_path, class: 'navbar-brand') do
        = Settings.brand_name
    %nav.collapse.navbar-collapse.navbar-ex1-collapse{role: "navigation"}
      %ul.nav.navbar-nav.navbar-right
        - if current_user.present?
          - options.each do |option|
            = render_navigation_menu_option(option)
          %li
            = link_to t('common.caption.sign_out'), signout_path
        - else
          %li
            = link_to t('common.caption.sign_in'), signin_path