#navbar.navbar.navbar-default
  #navbar-container.navbar-container
    .navbar-header.pull-left
      = link_to(root_path, class: 'navbar-brand') do
        Pranic Healing
    .navbar-header.pull-right{role: "navigation"}
      %ul.nav.navbar-nav.navbar-right
        - if current_user.present?
          - if current_user.is_super_admin_or_foundation_admin_accountant?
            %li{class: controller_name == 'donations' ? 'active' : ''}
              = link_to 'Donations', donations_path
          - if current_user.is_super_admin_or_foundation_admin?
            %li{class: controller.controller_name == 'registrations' ? 'active' : ''}
              = link_to 'Registrations', registrations_path(status: 'confirmed')
          - if current_user.is_super_admin_or_foundation_admin_or_center_admin?
            %li{class: controller_name == 'centers' ? 'active' : ''}
              = link_to 'Centers', centers_path
          - if current_user.is_foundation_admin? || current_user.is_super_admin?
            %li{class: controller.controller_name == 'instructors' ? 'active' : ''}
              = link_to 'Instructors', instructors_path
          - if current_user.is_super_admin_or_foundation_admin_or_center_admin_or_instructor?
            %li{class: controller_name == 'courses' ? 'active' : ''}
              = link_to 'Courses', courses_path(status: 'confirmed')
          %li
            = link_to "Sign Out", signout_path
        - else
          %li
            = link_to "Sign In", signin_path