!!!
%html
  %head
    %title= Settings.app_name
    = stylesheet_link_tag 'canvas_assets', media: 'all'
    = javascript_include_tag 'canvas_assets'
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{name: "keywords", content: "YVPHFM Affiliated Pranic Healing Center, Ankur, Naranpura, Ahmedabad. Learn, heal, rejuvenationated."}/
    %meta{name: "keywords", content: "Pranic Healing, Faith Healing, Devine Healing, Prana, Chi, Grand Master Choa Kok Sui, MCKS, Acupunture, Yoga, Yogi, Arhatic Yoga, Illumination, Devine Oneness, energy body, Life Energy, Pranic Energy, Learn, Free Healing, Ahmedabad, Gujarat, India YVPHFM, energy body, aura, chakras, nadis, inner enginering, super brain yoga, crystal healing"}
  %body.pull_top
    #wrap
      = render partial: 'layouts/home_header'
      = yield
      #push
    .clearfix
    = render partial: 'layouts/home_footer'