#blog.home_course_content_margin
  .container
    .section_header
      %h3= t('activities.caption.activities')
    .row.post_row
      - @activities.each do |activity|
        .col-sm-4
          %br/
          .post.activity-div-height
            = link_to website_activity_path(activity) do
              .img.activity-list-img-height
                - if activity.avatar.present?
                  = link_to(image_tag(website_activity_image_path(style: :medium, id: activity.id, filename: activity.avatar_file_name), class: 'img-responsive'), website_activity_path(activity))
            .text
              %h5
                = link_to(truncate(activity.name, length: 30), website_activity_path(activity))
              %span.date
              %p
                = simple_format(truncate(activity.description, length: 150, omission: " ... %s") % link_to(t('home_activities.caption.read_more'), website_activity_path(activity)))
