= stylesheet_link_tag "home/blueimp-gallery.min.css"
= stylesheet_link_tag "home/bootstrap-image-gallery.css"
#blog_post.home_course_content_margin
  .container
    .section_header
      %h3= @activity.name.capitalize
    .row
      .col-sm-8
        - if @activity.avatar.present?
          = image_tag(website_activity_image_path(style: :medium, id: @activity.id, filename: @activity.avatar_file_name), class: 'post_pic img-responsive')
        - else
          = image_tag('no_image.png')
        .post_content
          %h2= @activity.name.capitalize
          %p
            = simple_format(@activity.description)
      .col-sm-4
        .sidebar
          .box
            .sidebar_header
              %h4= t('common.caption.home_page_activity_photos')
            - if @activity.activity_photos.present?
              %ul.recent_photos
                - @activity.activity_photos.each do |activity_photo|
                  %li.activity_small_photo_height_width
                    %a{"data-gallery" => "", href:  website_event_image_gallery_path(style: :original, event_id: activity_photo. event_id, id: activity_photo.id, filename: activity_photo.photo_file_name)}
                      = image_tag website_event_image_gallery_path(style: :activity_small, event_id: activity_photo. event_id, id: activity_photo.id, filename: activity_photo.photo_file_name), class: 'event_photo_image_height_width'
            - else
              %h5= t('activity_photo_gallery.message.no_photos_found')
= render :partial => 'website/gallery_slider_content'